/* Copyright 2020 m.yoshi engineering
 * CSS for m.yoshi's portfolio.
 */

/* 共通のデフォルトスタイル */
body{
 margin: 0;
}

/* ヘッダのスタイル */
header{
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 70px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;
}

/* ヘッダに表示するポートフォリオタイトル */
header .hdr-title{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  height: 100%;
  width: 50%;
  padding: 0% 10%;
  font-size: 32px;
  color: black;
}

/* ヘッダに表示するグローバルナビゲーション*/
header nav{
  display: table-cell;
  height: 100%;
  width: 50%;
  white-space: nowrap;
}

header nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

header nav li{
  display: block;
  text-align: center;
  height: 100%;
  width: 33%;
  padding: 10px;
  font-size: 24px;
  color: black;
}

/* コンテンツのスタイル */
.contents{
  padding-top: 70px;
}

/* アンカージャンプ時、ヘッダに隠れないための調整 */
.anchor{
  padding-top: 90px;
  padding-bottom: 90px;
  margin-top: -70px;
}

.contents .anchor#profile{
  background-color: #dddddd;
}

.contents .anchor#skill{
  background-color: #eeeeee;
}

.contents .anchor#contact{
  background-color: #dddddd;
}

/* コンテンツ内タグのスタイル */
.contents h1{
  font-size: 28px;
  font-style: bold;
  padding: 0% 4%;
}

.contents h2{
  font-size: 24px;
  font-style: bold;
  padding: 0% 8%;
}

.contents h3{
  font-size: 18px;
  font-style: bold;
  padding: 0% 12%;
}

.contents p{
  font-size: 18px;
  padding: 0% 16%;
}

.contents ul{
  list-style-type: square;
  font-size: 18px;
  padding: 0% 16%;
}

/* センターに強調表示する場合のスタイル */
.contents .strong-center{
  text-align: center;
  font-size: 20px;
  padding: 1em 0em;
}

/* 星を用いた5段階評価を表示する場合のスタイル */
.contents .star-rating{
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 18px;
}

.contents .star-rating .front{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: orange;
}

.contents .star-rating .back{
  color: gray;
}

/* フッタのスタイル */
footer{
  display: table;
  height: 30px;
  width: 100%;
  background-color: white;
  border-top: 2px solid black;
}

/* フッタに表示するコピーライト */
footer .copyright{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  font-size: 16px;
}
