/* Copyright 2020 m.yoshi engineer office
 * CSS for m.yoshi's portfolio.
 */

/* ヘッダのスタイル */
header{
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;
}

/* ヘッダに表示するポートフォリオタイトル */
.hdr-title{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  height: 100%;
  width: 50%;
  padding-left: 10%;
  font-size: 32px;
  color: black;
}

/* ヘッダに表示するグローバルナビゲーション*/
nav{
  display: table-cell;
  height: 100%;
  width: 50%;
  margin-left: 0px;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li{
  display: block;
  text-align: center;
  height: 100%;
  width: 33%;
  padding: 10px;
  font-size: 24px;
  color: black;
}

/* コンテンツのスタイル */
.contents{
  padding-top: 80px;
}

h1{
  font-size: 28px;
  font-style: bold;
  padding-left: 2em;
}

h2{
  font-size: 24px;
  font-style: bold;
  padding-left: 4em;
}

p{
  font-size: 18px;
  padding-left: 8em;
}

/* 現在のバージョンを表示する文 */
.portfolio-version{
    font-size: 20px;
    text-align: center;
}
